.body{
	background-color: #e9e9e9;
}

.title-cate{
	font-size: 30px;
	text-align: center;
	background-color:
}

.add{
	margin-left: 10%;
}

.location{
	margin-top: 50px;
	text-align: center;
	display: block;
}

.btn-location{
	width: 40%;
	max-width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.body-show {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #fefefe;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  font-weight: 900;
  width: 100%;
  color: #ffffff;
  background: #ea6153;
}

.row.green {
  background: #27ae60;
}

.row.blue {
  background: #2980b9;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  max-width: 100%;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

body.login {
  background-color: #fff;
  color: #212F3D;
}

div.login {
  width: 300px;
  height: 280px;
  background-color: #fefefe;
  margin-left: 35%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #2980b9;
  margin-top: 120px;
}

@media (max-width: 1000px) {
  div.login {
    margin-left: 40%;
  }
}

@media (max-width: 768px) {
  div.login {
    margin-left: 30%;
  }
}

@media (max-width: 590px) {
  div.login {
    margin-left: 20%;
  }
}

@media (max-width: 450px) {
  div.login {
    margin-left: 10%;
  }
}

@media (max-width: 350px) {
  div.login {
    margin-left: 5%;
  }
}

@media (max-width: 320px) {
  div.login {
    margin-left: 1%;
  }
}

ul.login {
  list-style: none;
  width: 100%;
  display: inline-block;
}

.login-pass {
  margin-top: 10px;
  margin-left: 9px;
}

.login-usr {
  margin-left: 6px;
}

.btn-submit {
  height: 30px;
  width: 200px;
  margin-left: 40px;
}

.logo {
  width: 75px;
  height: 75px;
  background-color: #000;
  margin-left: 115px;
  margin-bottom: 10px;
}

.pic-test {
  padding-top: 40px;
}

.delete {
  margin-left: 10%;
}

.input-value-del {
  margin-left: 30px;
}

.add-user {
  margin-left: 10%;
}

.add-user-input {
  margin-left: 30px;
}

.all-row-user {
  list-style: none;
}

.row-user {
  margin-top: 5px;
}

.show-title-Proj {
  text-align: center;
}
